In [1]:
import pandas as pd
import ast

In [4]:
df = pd.read_csv('profession_roles.csv')
df

,categories_id,categories_name,profession_id,profession_name
0,1,"Продажи, обслуживание клиентов",10,Аналитик
1,1,"Продажи, обслуживание клиентов",105,Руководитель отдела клиентского обслуживания
2,1,"Продажи, обслуживание клиентов",106,Руководитель отдела продаж
3,1,"Продажи, обслуживание клиентов",121,Специалист технической поддержки
4,1,"Продажи, обслуживание клиентов",122,Страховой агент
...,...,...,...,...
265,9,Сельское хозяйство,19,Ветеринарный врач
266,9,Сельское хозяйство,43,Зоотехник
267,9,Сельское хозяйство,49,Технолог
268,9,Сельское хозяйство,63,Машинист
269,9,Сельское хозяйство,7,Агроном

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   categories_id    270 non-null    int64
 1   categories_name  270 non-null    object
 2   profession_id    270 non-null    int64
 3   profession_name  270 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.6+ KB

In [164]:
city_dictionary = [
    ['Москва', 'г. Москва'],
    ['Московская область', 'Московская область'],
    ['Владимирская область', 'Владимирская область'],
    ['Ростовская область', 'Ростовская область'],
    ['Пермский край', 'Пермский край'],
    ['Воронежская область', 'Воронежская область'],
    ['Алтайский край', 'Алтайский край'],
    ['Ханты-Мансийский АО - Югра', 'в том числе, Ханты-Мансийский автономный округ - Югра'],
    ['Волгоградская область', 'Волгоградская область'],
    ['Новосибирская область', 'Новосибирская область'],
    ['Республика Татарстан', 'Республика Татарстан'],
    ['Санкт-Петербург', 'г. Санкт-Петербург'],
    ['Свердловская область', 'Свердловская область'],
    ['Самарская область', 'Самарская область'],
    ['Красноярский край', 'Красноярский край'],
    ['Кировская область', 'Кировская область'],
    ['Краснодарский край', 'Краснодарский край'],
    ['Ленинградская область', 'Ленинградская область'],
    ['Ставропольский край', 'Ставропольский край'],
    ['Белгородская область', 'Белгородская область'],
    ['Оренбургская область', 'Оренбургская область'],
    ['Тульская область', 'Тульская область'],
    ['Ульяновская область', 'Ульяновская область'],
    ['Республика Башкортостан', 'Республика Башкортостан'],
    ['Кемеровская область', 'Кемеровская область'],
    ['Забайкальский край', 'Забайкальский край'],
    ['Калужская область', 'Калужская область'],
    ['Нижегородская область', 'Нижегородская область'],
    ['Орловская область', 'Орловская область'],
    ['Ярославская область', 'Ярославская область'],
    ['Сахалинская область', 'Сахалинская область'],
    ['Смоленская область', 'Смоленская область'],
    ['Омская область', 'Омская область'],
    ['Амурская область', 'Амурская область'],
    ['Липецкая область', 'Липецкая область'],
    ['Республика Бурятия', 'Республика Бурятия'],
    ['Челябинская область', 'Челябинская область'],
    ['Рязанская область', 'Рязанская область'],
    ['Тверская область', 'Тверская область'],
    ['Чувашская Республика', 'Чувашская Республика'],
    ['Удмуртская Республика', 'Удмуртская Республика'],
    ['Республика Мордовия', 'Республика Мордовия'],
    ['Республика Коми', 'Республика Коми'],
    ['Тюменская область', 'Тюменская область'],
    ['Камчатский край', 'Камчатский край'],
    ['Приморский край', 'Приморский край'],
    ['Хабаровский край', 'Хабаровский край'],
    ['Ивановская область', 'Ивановская область'],
    ['Калининградская область', 'Калининградская область'],
    ['Магаданская область', 'Магаданская область'],
    ['Иркутская область', 'Иркутская область'],
    ['Саратовская область', 'Саратовская область'],
    ['Республика Дагестан', 'Республика Дагестан'],
    ['Пензенская область', 'Пензенская область'],
    ['Республика Адыгея', 'Республика Адыгея'],
    ['Мурманская область', 'Мурманская область'],
    ['Республика Крым', 'Республика Крым'],
    ['Томская область', 'Томская область'],
    ['Костромская область', 'Костромская область'],
    ['Курская область', 'Курская область'],
    ['Астраханская область', 'Астраханская область'],
    ['Архангельская область', 'Архангельская область'],
    ['Псковская область', 'Псковская область'],
    ['Республика Саха (Якутия)', 'Республика Саха (Якутия)'],
    ['Вологодская область', 'Вологодская область'],
    ['Курганская область', 'Курганская область'],
    ['Ямало-Ненецкий АО', 'Ямало-Ненецкий автономный округ'],
    ['Брянская область', 'Брянская область'],
    ['Новгородская область', 'Новгородская область'],
    ['Тамбовская область', 'Тамбовская область'],
    ['Республика Тыва', 'Республика Тыва'],
    ['Республика Карелия', 'Республика Карелия'],
    ['Республика Хакасия', 'Республика Хакасия'],
    ['Республика Марий Эл', 'Республика Марий Эл'],
    ['Республика Алтай', 'Республика Алтай'],
    ['Чеченская республика', 'Чеченская Республика'],
    ['Еврейская АО', 'Еврейская автономная область'],
    ['Республика Северная Осетия-Алания', 'Республика Северная Осетия - Алания'],
    ['Карачаево-Черкесская Республика', 'Карачаево-Черкесская Республика'],
    ['Республика Калмыкия', 'Республика Калмыкия'],
    ['Кабардино-Балкарская республика', 'Кабардино-Балкарская Республика'],
    ['Чукотский АО', 'Чукотский автономный округ'],
    ['Ненецкий АО', 'в том числе Ненецкий автономный округ'],
    ['Республика Ингушетия', 'Республика Ингушетия'],
]
pd.DataFrame(city_dictionary, columns = ['in', 'out']).to_csv('city_dictionary.csv', index=False)

In [ ]:
for i, path in enumerate(pathes[:]):
    print(i, path)
    rosstat = pd.read_excel(path)
    print(rosstat.columns)
    columns = ['out'] + [f'feature_{i}{k}'for k in range(len(rosstat.columns[1:]))]
    print(columns)
    rosstat.columns = columns
    rosstat = rosstat[columns].sort_values(columns).drop_duplicates(['out'], keep='first')
    rosstat['out'] = rosstat['out'].str.strip() # в некоторых колонках есть пробелы на конце
    rosstat['out'] = rosstat['out'].apply(
        lambda x: ' '.join(
            [re.sub(r'[0-9]', '', xx) for xx in x.split()]
            )
    )
    rosstat['out'] = rosstat['out'].str.replace(':', ',')
    print(rosstat.columns)
    for c in columns[1:]:
        print(c)
        rosstat[c] = rosstat[c].astype(str)
        rosstat[c] = pd.to_numeric(rosstat[c], errors='coerce')
    df2 = df2.merge(rosstat, on=['out'], how='left')
    print(df2.shape)

In [41]:
import catboost
catboost.__version__

'1.1.1'

In [163]:
import numpy as np
np.log(2)

0.6931471805599453

In [10]:
df[df.profession_id == 146]['categories_name'].values[0]

'Юристы'

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from salary_prediction import SalaryPrediciton

In [2]:
model = SalaryPrediciton()

In [ ]:
model_params = {
    'nan_mode': 'Min',
    'iterations': 1500,
    'boosting_type': 'Plain',
    'bootstrap_type': 'Bayesian',
    'eval_metric': 'MultiClass',
    'one_hot_max_size': 5,
    'l2_leaf_reg': 3,
    'border_count': 52,
    'bagging_temperature': 1.01,
    'min_data_in_leaf': 53
}

In [3]:
model.model.get_all_params()

{'nan_mode': 'Min',
 'gpu_ram_part': 0.95,
 'eval_metric': 'MultiClass',
 'combinations_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'FeatureFreq:CtrBorderCount=15:CtrBorderType=Median:Prior=0/1'],
 'iterations': 1500,
 'fold_permutation_block': 64,
 'leaf_estimation_method': 'Newton',
 'observations_to_bootstrap': 'TestOnly',
 'od_pval': 0,
 'counter_calc_method': 'SkipTest',
 'grow_policy': 'SymmetricTree',
 'penalties_coefficient': 1,
 'boosting_type': 'Plain',
 'ctr_history_unit': 'Sample',
 'feature_border_type': 'GreedyLogSum',
 'bayesian_matrix_reg': 0.1000000015,
 'one_hot_max_size': 2,
 'devices': '-1',
 'eval_fraction': 0,
 'pinned_memory_bytes': '104857600',
 'force_unit_auto_pair_weights': False,
 'l2_leaf_reg': 3,
 'random_strength': 1,
 'od_type': 'Iter',
 'rsm': 1,
 'boost_from_average': False,
 'gpu_cat_features_storage': 'GpuRam',
 'fold_size_loss_normalization': False,
 'max_ctr_complexity': 4,
 'model_size_reg': 0.5,
 'simple_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'FeatureFreq:CtrBorderCount=15:CtrBorderType=MinEntropy:Prior=0/1'],
 'pool_metainfo_options': {'tags': {}},
 'use_best_model': True,
 'meta_l2_frequency': 0,
 'od_wait': 50,
 'class_names': ['[109999.0, 119999.0)',
  '[119999.0, 129999.0)',
  '[129999.0, 139999.0)',
  '[139999.0, 149999.0)',
  '[149999.0, 159999.0)',
  '[159999.0, 169999.0)',
  '[169999.0, 179999.0)',
  '[179999.0, 189999.0)',
  '[189999.0, 199999.0)',
  '[19999.0, 29999.0)',
  '[199999.0, 209999.0)',
  '[209999.0, 219999.0)',
  '[219999.0, 229999.0)',
  '[29999.0, 39999.0)',
  '[39999.0, 49999.0)',
  '[49999.0, 59999.0)',
  '[59999.0, 69999.0)',
  '[69999.0, 79999.0)',
  '[79999.0, 89999.0)',
  '[89999.0, 99999.0)',
  '[9999.0, 19999.0)',
  '[99999.0, 109999.0)'],
 'random_seed': 0,
 'depth': 6,
 'ctr_target_border_count': 1,
 'has_time': False,
 'border_count': 128,
 'min_fold_size': 100,
 'data_partition': 'DocParallel',
 'bagging_temperature': 1,
 'classes_count': 0,
 'auto_class_weights': 'None',
 'leaf_estimation_backtracking': 'AnyImprovement',
 'best_model_min_trees': 1,
 'min_data_in_leaf': 1,
 'add_ridge_penalty_to_loss_function': False,
 'text_processing': {'feature_processing': {'default': [{'dictionaries_names': ['BiGram',
      'Word'],
     'feature_calcers': ['BoW'],
     'tokenizers_names': ['Space']},
    {'dictionaries_names': ['Word'],
     'feature_calcers': ['NaiveBayes'],
     'tokenizers_names': ['Space']}]},
  'dictionaries': [{'start_token_id': '0',
    'occurrence_lower_bound': '5',
    'skip_step': '0',
    'end_of_word_token_policy': 'Insert',
    'token_level_type': 'Word',
    'end_of_sentence_token_policy': 'Skip',
    'gram_order': '2',
    'max_dictionary_size': '50000',
    'dictionary_id': 'BiGram'},
   {'start_token_id': '0',
    'occurrence_lower_bound': '5',
    'skip_step': '0',
    'end_of_word_token_policy': 'Insert',
    'token_level_type': 'Word',
    'end_of_sentence_token_policy': 'Skip',
    'gram_order': '1',
    'max_dictionary_size': '50000',
    'dictionary_id': 'Word'}],
  'tokenizers': [{'number_token': '🔢',
    'skip_empty': '1',
    'number_process_policy': 'LeaveAsIs',
    'tokenizer_id': 'Space',
    'token_types': ['Number', 'Unknown', 'Word'],
    'delimiter': ' ',
    'languages': [],
    'lemmatizing': '0',
    'split_by_set': '0',
    'lowercasing': '0',
    'subtokens_policy': 'SingleToken',
    'separator_type': 'ByDelimiter'}]},
 'loss_function': 'MultiClass',
 'learning_rate': 0.1415909976,
 'meta_l2_exponent': 1,
 'score_function': 'Cosine',
 'task_type': 'GPU',
 'leaf_estimation_iterations': 1,
 'bootstrap_type': 'Bayesian',
 'max_leaves': 64,
 'permutation_count': 4}

In [3]:
z = model.get_features('https://hh.ru/vacancy/78080083')

In [4]:
z

,item_id,real_salary_from,real_salary_to,url,billing_type,schedule,name,area,area_id,allow_messages,...,description_tfidf_хотеть,description_tfidf_цель,description_tfidf_центр,description_tfidf_час,description_tfidf_часть,description_tfidf_человек,description_tfidf_эксплуатация,description_tfidf_это,description_tfidf_являться,description_tfidf_язык
0,78080083,120000.0,150000.0,https://api.hh.ru/vacancies/78080083,Стандарт,Полный день,Водитель-экспедитор категория С,Москва,1,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
model.predict(z)

array([['[109999.0, 119999.0)']], dtype=object)

In [120]:
model.shap_plot(z)

[109999.0, 119999.0)

In [103]:
set(_[0].index) - set(model.FEATURES)

{'description_clear'}

In [100]:
_[0].index

Index(['billing_type', 'schedule', 'name', 'area', 'allow_messages',
       'experience', 'accept_handicapped', 'accept_kids', 'employer',
       'accept_temporary',
       ...
       'description_tfidf_цель', 'description_tfidf_центр',
       'description_tfidf_час', 'description_tfidf_часть',
       'description_tfidf_человек', 'description_tfidf_эксплуатация',
       'description_tfidf_это', 'description_tfidf_являться',
       'description_tfidf_язык', 'description_clear'],
      dtype='object', length=322)

In [53]:
model.predict(df[model.FEATURES])

NameError: name 'df' is not defined

In [22]:
# from catboost import Pool, CatBoostClassifier
# from config import FEATURES, CAT_FEATURES, TEXT_FEATURES
# Pool(
#     data=z[FEATURES],
#     cat_features=CAT_FEATURES,
#     text_features=TEXT_FEATURES
# )

In [37]:
model.predict(z)

array([['[109999.0, 119999.0)']], dtype=object)

In [38]:
model.shap_plot(z)

[109999.0, 119999.0)

In [236]:
z[['uniq_skills_cnt',
 'uniq_popular_skills_cnt',]]

   uniq_skills_cnt  uniq_popular_skills_cnt
0                5                        3

In [2]:
import pandas as pd
df = pd.read_csv('../data/frame2.csv')
df['area_id'] = 0
df['key_skills_embeddiong'] = 0
df[['feature_390', 'feature_210', 'feature_160', 'feature_180', 'feature_20', 'min_similar', 'feature_280', 'feature_140', 'feature_70', 'feature_410', 'feature_320', 'max_similar', 'feature_90', 'feature_290', 'feature_310', 'feature_30', 'feature_220', 'feature_415', 'feature_360', 'feature_350', 'feature_10', 'feature_130', 'feature_60', 'feature_240', 'feature_380', 'feature_412', 'feature_150', 'feature_120', 'real_salary_to', 'feature_270', 'mean_similar', 'feature_200', 'feature_230', 'feature_411', 'feature_170', 'feature_80', 'feature_370', 'feature_40', 'feature_420', 'feature_400', 'real_salary_from', 'feature_50', 'feature_340', 'feature_190', 'feature_450', 'feature_300', 'feature_413', 'feature_250', 'feature_00', 'feature_260', 'feature_440', 'feature_430', 'feature_414', 'feature_100', 'url', 'feature_330', 'feature_110']] = 0

c:\Users\maksk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df[['lat', 'item_id']]

              lat   item_id
0       55.742711  74293318
1       55.959636  71654893
2             NaN  75694648
3             NaN  75791728
4             NaN  74301111
...           ...       ...
157047  55.548966  75728642
157048  52.604724  50655228
157049        NaN  76141831
157050  52.568285  75989155
157051  53.612864  70886053

[157052 rows x 2 columns]

In [234]:
df.columns.tolist()

['item_id',
 'company_vacancies_url',
 'item_url',
 'has_premium',
 'billing_type',
 'schedule',
 'name',
 'area',
 'salary_from',
 'salary_to',
 'salary_currency',
 'is_gross',
 'address',
 'allow_messages',
 'experience',
 'department',
 'contacts',
 'description',
 'key_skills_x',
 'accept_handicapped',
 'accept_kids',
 'specializations',
 'professional_roles',
 'employer',
 'published_at',
 'working_days',
 'working_time_intervals',
 'working_time_modes',
 'accept_temporary',
 'languages',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 'key_skills_y',
 'salary_log',
 'city',
 'lat',
 'lng',
 'line_embedding',
 'station_embedding',
 'department_name',
 'has_department',
 'description_clear',
 'description_len',
 'key_skills_embedding',
 'uniq_skills_cnt',
 'uniq_popular_skills_cnt',
 'professional_roles_id',
 'dollar_rate',
 'is_engl',
 'is_ger',
 'is_chi',
 'cnt_lang',
 'salary_from_rate_and_gross',
 'salary_from_rate_and_gross_log',
 'area_id',
 'key_skills_embeddiong',
 'feature_390',
 'feature_210',
 'feature_160',
 'feature_180',
 'feature_20',
 'min_similar',
 'feature_280',
 'feature_140',
 'feature_70',
 'feature_410',
 'feature_320',
 'max_similar',
 'feature_90',
 'feature_290',
 'feature_310',
 'feature_30',
 'feature_220',
 'feature_415',
 'feature_360',
 'feature_350',
 'feature_10',
 'feature_130',
 'feature_60',
 'feature_240',
 'feature_380',
 'feature_412',
 'feature_150',
 'feature_120',
 'real_salary_to',
 'feature_270',
 'mean_similar',
 'feature_200',
 'feature_230',
 'feature_411',
 'feature_170',
 'feature_80',
 'feature_370',
 'feature_40',
 'feature_420',
 'feature_400',
 'real_salary_from',
 'feature_50',
 'feature_340',
 'feature_190',
 'feature_450',
 'feature_300',
 'feature_413',
 'feature_250',
 'feature_00',
 'feature_260',
 'feature_440',
 'feature_430',
 'feature_414',
 'feature_100',
 'url',
 'feature_330',
 'feature_110']

In [235]:
df[df['item_id'] == 76085328][[ 'uniq_skills_cnt',
 'uniq_popular_skills_cnt',]]

        uniq_skills_cnt  uniq_popular_skills_cnt
137543                5                      4.0

In [232]:
df[df['item_id'] == 76085328][z.columns]

,item_id,real_salary_from,real_salary_to,url,billing_type,schedule,name,area,area_id,allow_messages,...,feature_411,feature_412,feature_413,feature_414,feature_415,feature_420,feature_430,feature_440,feature_450,dollar_rate
137543,76085328,0,0,0,Стандарт,Полный день,Финансовый менеджер,Москва,0,True,...,0,0,0,0,0,0,0,0,0,68.935907

In [125]:
df['16']

0          84
1          62
2          80
3         120
4          76
         ...
157047     74
157048     74
157049     72
157050    117
157051    145
Name: 16, Length: 157052, dtype: int64

In [87]:
string = "[{'name': 'Работа в команде'}, {'name': '1C: Финансы'}, {'name': 'Анализ текущих финансовых показателей'}, {'name': 'Высшее образование'}, {'name': 'Работа в условиях многозадачности'}]"
ast.literal_eval(string)

[{'name': 'Работа в команде'},
 {'name': '1C: Финансы'},
 {'name': 'Анализ текущих финансовых показателей'},
 {'name': 'Высшее образование'},
 {'name': 'Работа в условиях многозадачности'}]

In [224]:
df = pd.read_csv('../data/dataset.csv')

c:\Users\maksk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [225]:
from collections import Counter

# key_skills = {}

key_skills = []

from tqdm import tqdm 
for data in tqdm(df.key_skills_x.values):
    if data != data:
        continue
    # print(data)
    data = ast.literal_eval(data)
    for key in data:
        key_skills.append(key['name'])
        # key_skills[key['name']] = key_skills.get(key['name'], 0)

100%|██████████| 224820/224820 [00:06<00:00, 32123.27it/s]

In [226]:
frame = pd.DataFrame(Counter(key_skills).most_common(300), columns=['skill', 'counter'])
# frame.to_csv('skills_top300.csv', index=False)

In [157]:
df['dataset'].unique()

array([0], dtype=int64)

In [210]:
import requests
dt = pd.to_datetime('2023-02-25T00:09:57+0300').strftime('%Y-%m-%d')
# df['published_at'] = pd.to_datetime(df['published_at'], format='%Y-%m-%d').dt.date.astype(str)
base="USD"
out_curr="RUB"
start_date = dt
end_date = dt
# start_date, end_date
url = 'https://api.exchangerate.host/timeseries?base={0}&start_date={1}&end_date={2}&symbols={3}'.format(base,start_date,end_date,out_curr)
response = requests.get(url)
r = response.json()

In [213]:
r['rates'][dt]['RUB']

75.973047

In [209]:
import datetime
pd.to_datetime('2023-02-25T00:09:57+0300').strftime('%Y-%m-%d')
# datetime.datetime.strptime('"2023-02-25T00:09:57+0300"', '%Y-%m-%dT%H:%M:%S').date()

'2023-02-25'

In [74]:
frame

                             skill  counter
0                 Работа в команде    32784
1                   Грамотная речь    23618
2                  Пользователь ПК    23501
3        Умение работать в команде    10087
4           Организаторские навыки     9672
..                             ...      ...
295             Подготовка отчетов      376
296               Знание MS Office      375
297  Умение расставлять приоритеты      375
298      Информационные технологии      370
299             Детская психология      369

[300 rows x 2 columns]

In [83]:
'Грамотная речь' in {k:i for i,k in enumerate(frame['skill'].values)}.keys()

True

In [76]:
[{k:i for i, k enumerate(frame['skill'].values)}]

SyntaxError: invalid syntax (<ipython-input-76-886885876f33>, line 1)

In [ ]:
sorted(key_skills_counter.items(), key=lambda x: x[1], reverse=True)

In [63]:
import requests
r = requests.get(f'https://api.hh.ru/vacancies/76085328')
r.json()

{'id': '76085328',
 'premium': False,
 'billing_type': {'id': 'standard', 'name': 'Стандарт'},
 'relations': [],
 'name': 'Финансовый менеджер',
 'insider_interview': None,
 'response_letter_required': False,
 'area': {'id': '1', 'name': 'Москва', 'url': 'https://api.hh.ru/areas/1'},
 'salary': {'from': 115000, 'to': None, 'currency': 'RUR', 'gross': True},
 'type': {'id': 'open', 'name': 'Открытая'},
 'address': None,
 'allow_messages': True,
 'experience': {'id': 'between3And6', 'name': 'От 3 до 6 лет'},
 'schedule': {'id': 'fullDay', 'name': 'Полный день'},
 'employment': {'id': 'full', 'name': 'Полная занятость'},
 'department': None,
 'contacts': None,
 'description': '<p><strong>Обратите внимание, что место работы - Московская область, Одинцовский район,<br />территория «Парк патриот»!!!!</strong></p> <p><strong>Обязанности:</strong></p> <ul> <li>Управлять финансовыми средствами организации с целью получения прибыли.</li> <li>Разрабатывать проекты перспективных и текущих финансовых планов, прогнозных балансов и бюджетов денежных средств.</li> <li>Обеспечивать целевое использование собственных и заемных средств.</li> <li>Обеспечивать выполнение финансового плана и бюджета, плана по прибыли и другим финансовым показателям.</li> <li>Обеспечивать оперативное финансирование, выполнение расчетных и платежных обязательств, своевременное отражение происходящих изменений в платежеспособности организации, отслеживает состояние собственных средств.</li> </ul> <strong>Требования:</strong> <ul> <li>Высшее профессиональное (экономическое) образование.</li> <li>Стаж работы по специальности в области организации финансовой деятельности не менее 5 лет.</li> </ul> <strong>Условия:</strong> <ul> <li> <p><strong>!!!!!Место работы - Московская область, Одинцовский район,<br />территория «Парк патриот»!!!!</strong></p> </li> <li> <p><strong>Готовность пройти тестовое задание</strong></p> </li> <li> <p>Официальное оформление в соответствии с Трудовым кодексом РФ</p> </li> <li> <p>Своевременная выплата заработной платы 2 раза в месяц</p> </li> <li> <p>График работы 5/2</p> </li> <li> <p>Столовая на территории</p> </li> <li> <p>Возможно предоставление общежития</p> </li> <li> <p>Бесплатная форменная одежда</p> </li> <li> <p>Корпоративный транспорт от станции Голицыно</p> </li> </ul>',
 'branded_description': None,
 'vacancy_constructor_template': None,
 'key_skills': [{'name': 'Работа в команде'},
  {'name': '1C: Финансы'},
  {'name': 'Анализ текущих финансовых показателей'},
  {'name': 'Высшее образование'},
  {'name': 'Работа в условиях многозадачности'}],
 'accept_handicapped': False,
 'accept_kids': False,
 'archived': True,
 'response_url': None,
 'specializations': [],
 'professional_roles': [{'id': '137', 'name': 'Финансовый менеджер'}],
 'code': None,
 'hidden': False,
 'quick_responses_allowed': False,
 'driver_license_types': [],
 'accept_incomplete_resumes': False,
 'employer': {'id': '4688557',
  'name': 'АНО Учебно-Методический Центр Военно-Патриотического Воспитания Молодежи Авангард',
  'url': 'https://api.hh.ru/employers/4688557',
  'alternate_url': 'https://hh.ru/employer/4688557',
  'logo_urls': None,
  'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=4688557',
  'accredited_it_employer': False,
  'trusted': True},
 'published_at': '2023-01-23T11:27:29+0300',
 'created_at': '2023-01-23T11:27:29+0300',
 'initial_created_at': '2023-01-23T11:27:29+0300',
 'negotiations_url': None,
 'suitable_resumes_url': None,
 'apply_alternate_url': 'https://hh.ru/applicant/vacancy_response?vacancyId=76085328',
 'has_test': False,
 'test': None,
 'alternate_url': 'https://hh.ru/vacancy/76085328',
 'working_days': [],
 'working_time_intervals': [],
 'working_time_modes': [],
 'accept_temporary': False,
 'languages': []}