In [1]:
import pandas as pd
import ast

In [4]:
df = pd.read_csv('profession_roles.csv')
df

,categories_id,categories_name,profession_id,profession_name
0,1,"–ü—Ä–æ–¥–∞–∂–∏, –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤",10,–ê–Ω–∞–ª–∏—Ç–∏–∫
1,1,"–ü—Ä–æ–¥–∞–∂–∏, –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤",105,–†—É–∫–æ–≤–æ–¥–∏—Ç–µ–ª—å –æ—Ç–¥–µ–ª–∞ –∫–ª–∏–µ–Ω—Ç—Å–∫–æ–≥–æ –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏—è
2,1,"–ü—Ä–æ–¥–∞–∂–∏, –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤",106,–†—É–∫–æ–≤–æ–¥–∏—Ç–µ–ª—å –æ—Ç–¥–µ–ª–∞ –ø—Ä–æ–¥–∞–∂
3,1,"–ü—Ä–æ–¥–∞–∂–∏, –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤",121,–°–ø–µ—Ü–∏–∞–ª–∏—Å—Ç —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –ø–æ–¥–¥–µ—Ä–∂–∫–∏
4,1,"–ü—Ä–æ–¥–∞–∂–∏, –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤",122,–°—Ç—Ä–∞—Ö–æ–≤–æ–π –∞–≥–µ–Ω—Ç
...,...,...,...,...
265,9,–°–µ–ª—å—Å–∫–æ–µ —Ö–æ–∑—è–π—Å—Ç–≤–æ,19,–í–µ—Ç–µ—Ä–∏–Ω–∞—Ä–Ω—ã–π –≤—Ä–∞—á
266,9,–°–µ–ª—å—Å–∫–æ–µ —Ö–æ–∑—è–π—Å—Ç–≤–æ,43,–ó–æ–æ—Ç–µ—Ö–Ω–∏–∫
267,9,–°–µ–ª—å—Å–∫–æ–µ —Ö–æ–∑—è–π—Å—Ç–≤–æ,49,–¢–µ—Ö–Ω–æ–ª–æ–≥
268,9,–°–µ–ª—å—Å–∫–æ–µ —Ö–æ–∑—è–π—Å—Ç–≤–æ,63,–ú–∞—à–∏–Ω–∏—Å—Ç
269,9,–°–µ–ª—å—Å–∫–æ–µ —Ö–æ–∑—è–π—Å—Ç–≤–æ,7,–ê–≥—Ä–æ–Ω–æ–º

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   categories_id    270 non-null    int64
 1   categories_name  270 non-null    object
 2   profession_id    270 non-null    int64
 3   profession_name  270 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.6+ KB

In [164]:
city_dictionary = [
    ['–ú–æ—Å–∫–≤–∞', '–≥. –ú–æ—Å–∫–≤–∞'],
    ['–ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–í–ª–∞–¥–∏–º–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–í–ª–∞–¥–∏–º–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–æ—Å—Ç–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–†–æ—Å—Ç–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ü–µ—Ä–º—Å–∫–∏–π –∫—Ä–∞–π', '–ü–µ—Ä–º—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–í–æ—Ä–æ–Ω–µ–∂—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–í–æ—Ä–æ–Ω–µ–∂—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ê–ª—Ç–∞–π—Å–∫–∏–π –∫—Ä–∞–π', '–ê–ª—Ç–∞–π—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–•–∞–Ω—Ç—ã-–ú–∞–Ω—Å–∏–π—Å–∫–∏–π –ê–û - –Æ–≥—Ä–∞', '–≤ —Ç–æ–º —á–∏—Å–ª–µ, –•–∞–Ω—Ç—ã-–ú–∞–Ω—Å–∏–π—Å–∫–∏–π –∞–≤—Ç–æ–Ω–æ–º–Ω—ã–π –æ–∫—Ä—É–≥ - –Æ–≥—Ä–∞'],
    ['–í–æ–ª–≥–æ–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–í–æ–ª–≥–æ–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢–∞—Ç–∞—Ä—Å—Ç–∞–Ω', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢–∞—Ç–∞—Ä—Å—Ç–∞–Ω'],
    ['–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–≥. –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥'],
    ['–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–°–∞–º–∞—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–°–∞–º–∞—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫–∏–π –∫—Ä–∞–π', '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä—Å–∫–∏–π –∫—Ä–∞–π', '–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–°—Ç–∞–≤—Ä–æ–ø–æ–ª—å—Å–∫–∏–π –∫—Ä–∞–π', '–°—Ç–∞–≤—Ä–æ–ø–æ–ª—å—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–ë–µ–ª–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ë–µ–ª–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–û—Ä–µ–Ω–±—É—Ä–≥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–û—Ä–µ–Ω–±—É—Ä–≥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–¢—É–ª—å—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–¢—É–ª—å—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–£–ª—å—è–Ω–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–£–ª—å—è–Ω–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ë–∞—à–∫–æ—Ä—Ç–æ—Å—Ç–∞–Ω', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ë–∞—à–∫–æ—Ä—Ç–æ—Å—Ç–∞–Ω'],
    ['–ö–µ–º–µ—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö–µ–º–µ—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ó–∞–±–∞–π–∫–∞–ª—å—Å–∫–∏–π –∫—Ä–∞–π', '–ó–∞–±–∞–π–∫–∞–ª—å—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–ö–∞–ª—É–∂—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö–∞–ª—É–∂—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ù–∏–∂–µ–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ù–∏–∂–µ–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–û—Ä–ª–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–û—Ä–ª–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–°–∞—Ö–∞–ª–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–°–∞—Ö–∞–ª–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–°–º–æ–ª–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–°–º–æ–ª–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–û–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–û–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ê–º—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ê–º—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–õ–∏–ø–µ—Ü–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–õ–∏–ø–µ—Ü–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ë—É—Ä—è—Ç–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ë—É—Ä—è—Ç–∏—è'],
    ['–ß–µ–ª—è–±–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ß–µ–ª—è–±–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†—è–∑–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–†—è–∑–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–¢–≤–µ—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–¢–≤–µ—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ß—É–≤–∞—à—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞', '–ß—É–≤–∞—à—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞'],
    ['–£–¥–º—É—Ä—Ç—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞', '–£–¥–º—É—Ä—Ç—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ú–æ—Ä–¥–æ–≤–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ú–æ—Ä–¥–æ–≤–∏—è'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–æ–º–∏', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–æ–º–∏'],
    ['–¢—é–º–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–¢—é–º–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö–∞–º—á–∞—Ç—Å–∫–∏–π –∫—Ä–∞–π', '–ö–∞–º—á–∞—Ç—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–ü—Ä–∏–º–æ—Ä—Å–∫–∏–π –∫—Ä–∞–π', '–ü—Ä–∏–º–æ—Ä—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–•–∞–±–∞—Ä–æ–≤—Å–∫–∏–π –∫—Ä–∞–π', '–•–∞–±–∞—Ä–æ–≤—Å–∫–∏–π –∫—Ä–∞–π'],
    ['–ò–≤–∞–Ω–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ò–≤–∞–Ω–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö–∞–ª–∏–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö–∞–ª–∏–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ú–∞–≥–∞–¥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ú–∞–≥–∞–¥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ò—Ä–∫—É—Ç—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ò—Ä–∫—É—Ç—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–°–∞—Ä–∞—Ç–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–°–∞—Ä–∞—Ç–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –î–∞–≥–µ—Å—Ç–∞–Ω', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –î–∞–≥–µ—Å—Ç–∞–Ω'],
    ['–ü–µ–Ω–∑–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ü–µ–Ω–∑–µ–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ê–¥—ã–≥–µ—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ê–¥—ã–≥–µ—è'],
    ['–ú—É—Ä–º–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ú—É—Ä–º–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö—Ä—ã–º', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö—Ä—ã–º'],
    ['–¢–æ–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–¢–æ–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö–æ—Å—Ç—Ä–æ–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö–æ—Å—Ç—Ä–æ–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ê—Å—Ç—Ä–∞—Ö–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ê—Å—Ç—Ä–∞—Ö–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ê—Ä—Ö–∞–Ω–≥–µ–ª—å—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ê—Ä—Ö–∞–Ω–≥–µ–ª—å—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ü—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ü—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –°–∞—Ö–∞ (–Ø–∫—É—Ç–∏—è)', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –°–∞—Ö–∞ (–Ø–∫—É—Ç–∏—è)'],
    ['–í–æ–ª–æ–≥–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–í–æ–ª–æ–≥–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ö—É—Ä–≥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ö—É—Ä–≥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–Ø–º–∞–ª–æ-–ù–µ–Ω–µ—Ü–∫–∏–π –ê–û', '–Ø–º–∞–ª–æ-–ù–µ–Ω–µ—Ü–∫–∏–π –∞–≤—Ç–æ–Ω–æ–º–Ω—ã–π –æ–∫—Ä—É–≥'],
    ['–ë—Ä—è–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ë—Ä—è–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–ù–æ–≤–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–ù–æ–≤–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–¢–∞–º–±–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å', '–¢–∞–º–±–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢—ã–≤–∞', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢—ã–≤–∞'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–∞—Ä–µ–ª–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–∞—Ä–µ–ª–∏—è'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –•–∞–∫–∞—Å–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –•–∞–∫–∞—Å–∏—è'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ú–∞—Ä–∏–π –≠–ª', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ú–∞—Ä–∏–π –≠–ª'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ê–ª—Ç–∞–π', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ê–ª—Ç–∞–π'],
    ['–ß–µ—á–µ–Ω—Å–∫–∞—è —Ä–µ—Å–ø—É–±–ª–∏–∫–∞', '–ß–µ—á–µ–Ω—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞'],
    ['–ï–≤—Ä–µ–π—Å–∫–∞—è –ê–û', '–ï–≤—Ä–µ–π—Å–∫–∞—è –∞–≤—Ç–æ–Ω–æ–º–Ω–∞—è –æ–±–ª–∞—Å—Ç—å'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –°–µ–≤–µ—Ä–Ω–∞—è –û—Å–µ—Ç–∏—è-–ê–ª–∞–Ω–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –°–µ–≤–µ—Ä–Ω–∞—è –û—Å–µ—Ç–∏—è - –ê–ª–∞–Ω–∏—è'],
    ['–ö–∞—Ä–∞—á–∞–µ–≤–æ-–ß–µ—Ä–∫–µ—Å—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞', '–ö–∞—Ä–∞—á–∞–µ–≤–æ-–ß–µ—Ä–∫–µ—Å—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–∞–ª–º—ã–∫–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–∞–ª–º—ã–∫–∏—è'],
    ['–ö–∞–±–∞—Ä–¥–∏–Ω–æ-–ë–∞–ª–∫–∞—Ä—Å–∫–∞—è —Ä–µ—Å–ø—É–±–ª–∏–∫–∞', '–ö–∞–±–∞—Ä–¥–∏–Ω–æ-–ë–∞–ª–∫–∞—Ä—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞'],
    ['–ß—É–∫–æ—Ç—Å–∫–∏–π –ê–û', '–ß—É–∫–æ—Ç—Å–∫–∏–π –∞–≤—Ç–æ–Ω–æ–º–Ω—ã–π –æ–∫—Ä—É–≥'],
    ['–ù–µ–Ω–µ—Ü–∫–∏–π –ê–û', '–≤ —Ç–æ–º —á–∏—Å–ª–µ –ù–µ–Ω–µ—Ü–∫–∏–π –∞–≤—Ç–æ–Ω–æ–º–Ω—ã–π –æ–∫—Ä—É–≥'],
    ['–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ò–Ω–≥—É—à–µ—Ç–∏—è', '–†–µ—Å–ø—É–±–ª–∏–∫–∞ –ò–Ω–≥—É—à–µ—Ç–∏—è'],
]
pd.DataFrame(city_dictionary, columns = ['in', 'out']).to_csv('city_dictionary.csv', index=False)

In [ ]:
for i, path in enumerate(pathes[:]):
    print(i, path)
    rosstat = pd.read_excel(path)
    print(rosstat.columns)
    columns = ['out'] + [f'feature_{i}{k}'for k in range(len(rosstat.columns[1:]))]
    print(columns)
    rosstat.columns = columns
    rosstat = rosstat[columns].sort_values(columns).drop_duplicates(['out'], keep='first')
    rosstat['out'] = rosstat['out'].str.strip() # –≤ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö –µ—Å—Ç—å –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∫–æ–Ω—Ü–µ
    rosstat['out'] = rosstat['out'].apply(
        lambda x: ' '.join(
            [re.sub(r'[0-9]', '', xx) for xx in x.split()]
            )
    )
    rosstat['out'] = rosstat['out'].str.replace(':', ',')
    print(rosstat.columns)
    for c in columns[1:]:
        print(c)
        rosstat[c] = rosstat[c].astype(str)
        rosstat[c] = pd.to_numeric(rosstat[c], errors='coerce')
    df2 = df2.merge(rosstat, on=['out'], how='left')
    print(df2.shape)

In [41]:
import catboost
catboost.__version__

'1.1.1'

In [163]:
import numpy as np
np.log(2)

0.6931471805599453

In [10]:
df[df.profession_id == 146]['categories_name'].values[0]

'–Æ—Ä–∏—Å—Ç—ã'

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from salary_prediction import SalaryPrediciton

In [2]:
model = SalaryPrediciton()

In [ ]:
model_params = {
    'nan_mode': 'Min',
    'iterations': 1500,
    'boosting_type': 'Plain',
    'bootstrap_type': 'Bayesian',
    'eval_metric': 'MultiClass',
    'one_hot_max_size': 5,
    'l2_leaf_reg': 3,
    'border_count': 52,
    'bagging_temperature': 1.01,
    'min_data_in_leaf': 53
}

In [3]:
model.model.get_all_params()

{'nan_mode': 'Min',
 'gpu_ram_part': 0.95,
 'eval_metric': 'MultiClass',
 'combinations_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'FeatureFreq:CtrBorderCount=15:CtrBorderType=Median:Prior=0/1'],
 'iterations': 1500,
 'fold_permutation_block': 64,
 'leaf_estimation_method': 'Newton',
 'observations_to_bootstrap': 'TestOnly',
 'od_pval': 0,
 'counter_calc_method': 'SkipTest',
 'grow_policy': 'SymmetricTree',
 'penalties_coefficient': 1,
 'boosting_type': 'Plain',
 'ctr_history_unit': 'Sample',
 'feature_border_type': 'GreedyLogSum',
 'bayesian_matrix_reg': 0.1000000015,
 'one_hot_max_size': 2,
 'devices': '-1',
 'eval_fraction': 0,
 'pinned_memory_bytes': '104857600',
 'force_unit_auto_pair_weights': False,
 'l2_leaf_reg': 3,
 'random_strength': 1,
 'od_type': 'Iter',
 'rsm': 1,
 'boost_from_average': False,
 'gpu_cat_features_storage': 'GpuRam',
 'fold_size_loss_normalization': False,
 'max_ctr_complexity': 4,
 'model_size_reg': 0.5,
 'simple_ctr': ['Borders:CtrBorderCount=15:CtrBorderType=Uniform:TargetBorderCount=1:TargetBorderType=MinEntropy:Prior=0/1:Prior=0.5/1:Prior=1/1',
  'FeatureFreq:CtrBorderCount=15:CtrBorderType=MinEntropy:Prior=0/1'],
 'pool_metainfo_options': {'tags': {}},
 'use_best_model': True,
 'meta_l2_frequency': 0,
 'od_wait': 50,
 'class_names': ['[109999.0, 119999.0)',
  '[119999.0, 129999.0)',
  '[129999.0, 139999.0)',
  '[139999.0, 149999.0)',
  '[149999.0, 159999.0)',
  '[159999.0, 169999.0)',
  '[169999.0, 179999.0)',
  '[179999.0, 189999.0)',
  '[189999.0, 199999.0)',
  '[19999.0, 29999.0)',
  '[199999.0, 209999.0)',
  '[209999.0, 219999.0)',
  '[219999.0, 229999.0)',
  '[29999.0, 39999.0)',
  '[39999.0, 49999.0)',
  '[49999.0, 59999.0)',
  '[59999.0, 69999.0)',
  '[69999.0, 79999.0)',
  '[79999.0, 89999.0)',
  '[89999.0, 99999.0)',
  '[9999.0, 19999.0)',
  '[99999.0, 109999.0)'],
 'random_seed': 0,
 'depth': 6,
 'ctr_target_border_count': 1,
 'has_time': False,
 'border_count': 128,
 'min_fold_size': 100,
 'data_partition': 'DocParallel',
 'bagging_temperature': 1,
 'classes_count': 0,
 'auto_class_weights': 'None',
 'leaf_estimation_backtracking': 'AnyImprovement',
 'best_model_min_trees': 1,
 'min_data_in_leaf': 1,
 'add_ridge_penalty_to_loss_function': False,
 'text_processing': {'feature_processing': {'default': [{'dictionaries_names': ['BiGram',
      'Word'],
     'feature_calcers': ['BoW'],
     'tokenizers_names': ['Space']},
    {'dictionaries_names': ['Word'],
     'feature_calcers': ['NaiveBayes'],
     'tokenizers_names': ['Space']}]},
  'dictionaries': [{'start_token_id': '0',
    'occurrence_lower_bound': '5',
    'skip_step': '0',
    'end_of_word_token_policy': 'Insert',
    'token_level_type': 'Word',
    'end_of_sentence_token_policy': 'Skip',
    'gram_order': '2',
    'max_dictionary_size': '50000',
    'dictionary_id': 'BiGram'},
   {'start_token_id': '0',
    'occurrence_lower_bound': '5',
    'skip_step': '0',
    'end_of_word_token_policy': 'Insert',
    'token_level_type': 'Word',
    'end_of_sentence_token_policy': 'Skip',
    'gram_order': '1',
    'max_dictionary_size': '50000',
    'dictionary_id': 'Word'}],
  'tokenizers': [{'number_token': 'üî¢',
    'skip_empty': '1',
    'number_process_policy': 'LeaveAsIs',
    'tokenizer_id': 'Space',
    'token_types': ['Number', 'Unknown', 'Word'],
    'delimiter': ' ',
    'languages': [],
    'lemmatizing': '0',
    'split_by_set': '0',
    'lowercasing': '0',
    'subtokens_policy': 'SingleToken',
    'separator_type': 'ByDelimiter'}]},
 'loss_function': 'MultiClass',
 'learning_rate': 0.1415909976,
 'meta_l2_exponent': 1,
 'score_function': 'Cosine',
 'task_type': 'GPU',
 'leaf_estimation_iterations': 1,
 'bootstrap_type': 'Bayesian',
 'max_leaves': 64,
 'permutation_count': 4}

In [3]:
z = model.get_features('https://hh.ru/vacancy/78080083')

In [4]:
z

,item_id,real_salary_from,real_salary_to,url,billing_type,schedule,name,area,area_id,allow_messages,...,description_tfidf_—Ö–æ—Ç–µ—Ç—å,description_tfidf_—Ü–µ–ª—å,description_tfidf_—Ü–µ–Ω—Ç—Ä,description_tfidf_—á–∞—Å,description_tfidf_—á–∞—Å—Ç—å,description_tfidf_—á–µ–ª–æ–≤–µ–∫,description_tfidf_—ç–∫—Å–ø–ª—É–∞—Ç–∞—Ü–∏—è,description_tfidf_—ç—Ç–æ,description_tfidf_—è–≤–ª—è—Ç—å—Å—è,description_tfidf_—è–∑—ã–∫
0,78080083,120000.0,150000.0,https://api.hh.ru/vacancies/78080083,–°—Ç–∞–Ω–¥–∞—Ä—Ç,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–í–æ–¥–∏—Ç–µ–ª—å-—ç–∫—Å–ø–µ–¥–∏—Ç–æ—Ä –∫–∞—Ç–µ–≥–æ—Ä–∏—è –°,–ú–æ—Å–∫–≤–∞,1,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
model.predict(z)

array([['[109999.0, 119999.0)']], dtype=object)

In [120]:
model.shap_plot(z)

[109999.0, 119999.0)

In [103]:
set(_[0].index) - set(model.FEATURES)

{'description_clear'}

In [100]:
_[0].index

Index(['billing_type', 'schedule', 'name', 'area', 'allow_messages',
       'experience', 'accept_handicapped', 'accept_kids', 'employer',
       'accept_temporary',
       ...
       'description_tfidf_—Ü–µ–ª—å', 'description_tfidf_—Ü–µ–Ω—Ç—Ä',
       'description_tfidf_—á–∞—Å', 'description_tfidf_—á–∞—Å—Ç—å',
       'description_tfidf_—á–µ–ª–æ–≤–µ–∫', 'description_tfidf_—ç–∫—Å–ø–ª—É–∞—Ç–∞—Ü–∏—è',
       'description_tfidf_—ç—Ç–æ', 'description_tfidf_—è–≤–ª—è—Ç—å—Å—è',
       'description_tfidf_—è–∑—ã–∫', 'description_clear'],
      dtype='object', length=322)

In [53]:
model.predict(df[model.FEATURES])

NameError: name 'df' is not defined

In [22]:
# from catboost import Pool, CatBoostClassifier
# from config import FEATURES, CAT_FEATURES, TEXT_FEATURES
# Pool(
#     data=z[FEATURES],
#     cat_features=CAT_FEATURES,
#     text_features=TEXT_FEATURES
# )

In [37]:
model.predict(z)

array([['[109999.0, 119999.0)']], dtype=object)

In [38]:
model.shap_plot(z)

[109999.0, 119999.0)

In [236]:
z[['uniq_skills_cnt',
 'uniq_popular_skills_cnt',]]

   uniq_skills_cnt  uniq_popular_skills_cnt
0                5                        3

In [2]:
import pandas as pd
df = pd.read_csv('../data/frame2.csv')
df['area_id'] = 0
df['key_skills_embeddiong'] = 0
df[['feature_390', 'feature_210', 'feature_160', 'feature_180', 'feature_20', 'min_similar', 'feature_280', 'feature_140', 'feature_70', 'feature_410', 'feature_320', 'max_similar', 'feature_90', 'feature_290', 'feature_310', 'feature_30', 'feature_220', 'feature_415', 'feature_360', 'feature_350', 'feature_10', 'feature_130', 'feature_60', 'feature_240', 'feature_380', 'feature_412', 'feature_150', 'feature_120', 'real_salary_to', 'feature_270', 'mean_similar', 'feature_200', 'feature_230', 'feature_411', 'feature_170', 'feature_80', 'feature_370', 'feature_40', 'feature_420', 'feature_400', 'real_salary_from', 'feature_50', 'feature_340', 'feature_190', 'feature_450', 'feature_300', 'feature_413', 'feature_250', 'feature_00', 'feature_260', 'feature_440', 'feature_430', 'feature_414', 'feature_100', 'url', 'feature_330', 'feature_110']] = 0

c:\Users\maksk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df[['lat', 'item_id']]

              lat   item_id
0       55.742711  74293318
1       55.959636  71654893
2             NaN  75694648
3             NaN  75791728
4             NaN  74301111
...           ...       ...
157047  55.548966  75728642
157048  52.604724  50655228
157049        NaN  76141831
157050  52.568285  75989155
157051  53.612864  70886053

[157052 rows x 2 columns]

In [234]:
df.columns.tolist()

['item_id',
 'company_vacancies_url',
 'item_url',
 'has_premium',
 'billing_type',
 'schedule',
 'name',
 'area',
 'salary_from',
 'salary_to',
 'salary_currency',
 'is_gross',
 'address',
 'allow_messages',
 'experience',
 'department',
 'contacts',
 'description',
 'key_skills_x',
 'accept_handicapped',
 'accept_kids',
 'specializations',
 'professional_roles',
 'employer',
 'published_at',
 'working_days',
 'working_time_intervals',
 'working_time_modes',
 'accept_temporary',
 'languages',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 'key_skills_y',
 'salary_log',
 'city',
 'lat',
 'lng',
 'line_embedding',
 'station_embedding',
 'department_name',
 'has_department',
 'description_clear',
 'description_len',
 'key_skills_embedding',
 'uniq_skills_cnt',
 'uniq_popular_skills_cnt',
 'professional_roles_id',
 'dollar_rate',
 'is_engl',
 'is_ger',
 'is_chi',
 'cnt_lang',
 'salary_from_rate_and_gross',
 'salary_from_rate_and_gross_log',
 'area_id',
 'key_skills_embeddiong',
 'feature_390',
 'feature_210',
 'feature_160',
 'feature_180',
 'feature_20',
 'min_similar',
 'feature_280',
 'feature_140',
 'feature_70',
 'feature_410',
 'feature_320',
 'max_similar',
 'feature_90',
 'feature_290',
 'feature_310',
 'feature_30',
 'feature_220',
 'feature_415',
 'feature_360',
 'feature_350',
 'feature_10',
 'feature_130',
 'feature_60',
 'feature_240',
 'feature_380',
 'feature_412',
 'feature_150',
 'feature_120',
 'real_salary_to',
 'feature_270',
 'mean_similar',
 'feature_200',
 'feature_230',
 'feature_411',
 'feature_170',
 'feature_80',
 'feature_370',
 'feature_40',
 'feature_420',
 'feature_400',
 'real_salary_from',
 'feature_50',
 'feature_340',
 'feature_190',
 'feature_450',
 'feature_300',
 'feature_413',
 'feature_250',
 'feature_00',
 'feature_260',
 'feature_440',
 'feature_430',
 'feature_414',
 'feature_100',
 'url',
 'feature_330',
 'feature_110']

In [235]:
df[df['item_id'] == 76085328][[ 'uniq_skills_cnt',
 'uniq_popular_skills_cnt',]]

        uniq_skills_cnt  uniq_popular_skills_cnt
137543                5                      4.0

In [232]:
df[df['item_id'] == 76085328][z.columns]

,item_id,real_salary_from,real_salary_to,url,billing_type,schedule,name,area,area_id,allow_messages,...,feature_411,feature_412,feature_413,feature_414,feature_415,feature_420,feature_430,feature_440,feature_450,dollar_rate
137543,76085328,0,0,0,–°—Ç–∞–Ω–¥–∞—Ä—Ç,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–§–∏–Ω–∞–Ω—Å–æ–≤—ã–π –º–µ–Ω–µ–¥–∂–µ—Ä,–ú–æ—Å–∫–≤–∞,0,True,...,0,0,0,0,0,0,0,0,0,68.935907

In [125]:
df['16']

0          84
1          62
2          80
3         120
4          76
         ...
157047     74
157048     74
157049     72
157050    117
157051    145
Name: 16, Length: 157052, dtype: int64

In [87]:
string = "[{'name': '–†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞–Ω–¥–µ'}, {'name': '1C: –§–∏–Ω–∞–Ω—Å—ã'}, {'name': '–ê–Ω–∞–ª–∏–∑ —Ç–µ–∫—É—â–∏—Ö —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π'}, {'name': '–í—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'}, {'name': '–†–∞–±–æ—Ç–∞ –≤ —É—Å–ª–æ–≤–∏—è—Ö –º–Ω–æ–≥–æ–∑–∞–¥–∞—á–Ω–æ—Å—Ç–∏'}]"
ast.literal_eval(string)

[{'name': '–†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞–Ω–¥–µ'},
 {'name': '1C: –§–∏–Ω–∞–Ω—Å—ã'},
 {'name': '–ê–Ω–∞–ª–∏–∑ —Ç–µ–∫—É—â–∏—Ö —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π'},
 {'name': '–í—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'},
 {'name': '–†–∞–±–æ—Ç–∞ –≤ —É—Å–ª–æ–≤–∏—è—Ö –º–Ω–æ–≥–æ–∑–∞–¥–∞—á–Ω–æ—Å—Ç–∏'}]

In [224]:
df = pd.read_csv('../data/dataset.csv')

c:\Users\maksk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [225]:
from collections import Counter

# key_skills = {}

key_skills = []

from tqdm import tqdm 
for data in tqdm(df.key_skills_x.values):
    if data != data:
        continue
    # print(data)
    data = ast.literal_eval(data)
    for key in data:
        key_skills.append(key['name'])
        # key_skills[key['name']] = key_skills.get(key['name'], 0)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 224820/224820 [00:06<00:00, 32123.27it/s]

In [226]:
frame = pd.DataFrame(Counter(key_skills).most_common(300), columns=['skill', 'counter'])
# frame.to_csv('skills_top300.csv', index=False)

In [157]:
df['dataset'].unique()

array([0], dtype=int64)

In [210]:
import requests
dt = pd.to_datetime('2023-02-25T00:09:57+0300').strftime('%Y-%m-%d')
# df['published_at'] = pd.to_datetime(df['published_at'], format='%Y-%m-%d').dt.date.astype(str)
base="USD"
out_curr="RUB"
start_date = dt
end_date = dt
# start_date, end_date
url = 'https://api.exchangerate.host/timeseries?base={0}&start_date={1}&end_date={2}&symbols={3}'.format(base,start_date,end_date,out_curr)
response = requests.get(url)
r = response.json()

In [213]:
r['rates'][dt]['RUB']

75.973047

In [209]:
import datetime
pd.to_datetime('2023-02-25T00:09:57+0300').strftime('%Y-%m-%d')
# datetime.datetime.strptime('"2023-02-25T00:09:57+0300"', '%Y-%m-%dT%H:%M:%S').date()

'2023-02-25'

In [74]:
frame

                             skill  counter
0                 –†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞–Ω–¥–µ    32784
1                   –ì—Ä–∞–º–æ—Ç–Ω–∞—è —Ä–µ—á—å    23618
2                  –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ü–ö    23501
3        –£–º–µ–Ω–∏–µ —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –∫–æ–º–∞–Ω–¥–µ    10087
4           –û—Ä–≥–∞–Ω–∏–∑–∞—Ç–æ—Ä—Å–∫–∏–µ –Ω–∞–≤—ã–∫–∏     9672
..                             ...      ...
295             –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –æ—Ç—á–µ—Ç–æ–≤      376
296               –ó–Ω–∞–Ω–∏–µ MS Office      375
297  –£–º–µ–Ω–∏–µ —Ä–∞—Å—Å—Ç–∞–≤–ª—è—Ç—å –ø—Ä–∏–æ—Ä–∏—Ç–µ—Ç—ã      375
298      –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏      370
299             –î–µ—Ç—Å–∫–∞—è –ø—Å–∏—Ö–æ–ª–æ–≥–∏—è      369

[300 rows x 2 columns]

In [83]:
'–ì—Ä–∞–º–æ—Ç–Ω–∞—è —Ä–µ—á—å' in {k:i for i,k in enumerate(frame['skill'].values)}.keys()

True

In [76]:
[{k:i for i, k enumerate(frame['skill'].values)}]

SyntaxError: invalid syntax (<ipython-input-76-886885876f33>, line 1)

In [ ]:
sorted(key_skills_counter.items(), key=lambda x: x[1], reverse=True)

In [63]:
import requests
r = requests.get(f'https://api.hh.ru/vacancies/76085328')
r.json()

{'id': '76085328',
 'premium': False,
 'billing_type': {'id': 'standard', 'name': '–°—Ç–∞–Ω–¥–∞—Ä—Ç'},
 'relations': [],
 'name': '–§–∏–Ω–∞–Ω—Å–æ–≤—ã–π –º–µ–Ω–µ–¥–∂–µ—Ä',
 'insider_interview': None,
 'response_letter_required': False,
 'area': {'id': '1', 'name': '–ú–æ—Å–∫–≤–∞', 'url': 'https://api.hh.ru/areas/1'},
 'salary': {'from': 115000, 'to': None, 'currency': 'RUR', 'gross': True},
 'type': {'id': 'open', 'name': '–û—Ç–∫—Ä—ã—Ç–∞—è'},
 'address': None,
 'allow_messages': True,
 'experience': {'id': 'between3And6', 'name': '–û—Ç 3 –¥–æ 6 –ª–µ—Ç'},
 'schedule': {'id': 'fullDay', 'name': '–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å'},
 'employment': {'id': 'full', 'name': '–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å'},
 'department': None,
 'contacts': None,
 'description': '<p><strong>–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –º–µ—Å—Ç–æ —Ä–∞–±–æ—Ç—ã - –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å, –û–¥–∏–Ω—Ü–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω,<br />—Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—è ¬´–ü–∞—Ä–∫ –ø–∞—Ç—Ä–∏–æ—Ç¬ª!!!!</strong></p> <p><strong>–û–±—è–∑–∞–Ω–Ω–æ—Å—Ç–∏:</strong></p> <ul> <li>–£–ø—Ä–∞–≤–ª—è—Ç—å —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã–º–∏ —Å—Ä–µ–¥—Å—Ç–≤–∞–º–∏ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —Å —Ü–µ–ª—å—é –ø–æ–ª—É—á–µ–Ω–∏—è –ø—Ä–∏–±—ã–ª–∏.</li> <li>–†–∞–∑—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å –ø—Ä–æ–µ–∫—Ç—ã –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤–Ω—ã—Ö –∏ —Ç–µ–∫—É—â–∏—Ö —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã—Ö –ø–ª–∞–Ω–æ–≤, –ø—Ä–æ–≥–Ω–æ–∑–Ω—ã—Ö –±–∞–ª–∞–Ω—Å–æ–≤ –∏ –±—é–¥–∂–µ—Ç–æ–≤ –¥–µ–Ω–µ–∂–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤.</li> <li>–û–±–µ—Å–ø–µ—á–∏–≤–∞—Ç—å —Ü–µ–ª–µ–≤–æ–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö –∏ –∑–∞–µ–º–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤.</li> <li>–û–±–µ—Å–ø–µ—á–∏–≤–∞—Ç—å –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ —Ñ–∏–Ω–∞–Ω—Å–æ–≤–æ–≥–æ –ø–ª–∞–Ω–∞ –∏ –±—é–¥–∂–µ—Ç–∞, –ø–ª–∞–Ω–∞ –ø–æ –ø—Ä–∏–±—ã–ª–∏ –∏ –¥—Ä—É–≥–∏–º —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è–º.</li> <li>–û–±–µ—Å–ø–µ—á–∏–≤–∞—Ç—å –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ–µ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏–µ, –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ —Ä–∞—Å—á–µ—Ç–Ω—ã—Ö –∏ –ø–ª–∞—Ç–µ–∂–Ω—ã—Ö –æ–±—è–∑–∞—Ç–µ–ª—å—Å—Ç–≤, —Å–≤–æ–µ–≤—Ä–µ–º–µ–Ω–Ω–æ–µ –æ—Ç—Ä–∞–∂–µ–Ω–∏–µ –ø—Ä–æ–∏—Å—Ö–æ–¥—è—â–∏—Ö –∏–∑–º–µ–Ω–µ–Ω–∏–π –≤ –ø–ª–∞—Ç–µ–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏, –æ—Ç—Å–ª–µ–∂–∏–≤–∞–µ—Ç —Å–æ—Å—Ç–æ—è–Ω–∏–µ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤.</li> </ul> <strong>–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è:</strong> <ul> <li>–í—ã—Å—à–µ–µ –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω–æ–µ (—ç–∫–æ–Ω–æ–º–∏—á–µ—Å–∫–æ–µ) –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ.</li> <li>–°—Ç–∞–∂ —Ä–∞–±–æ—Ç—ã –ø–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏ –≤ –æ–±–ª–∞—Å—Ç–∏ –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —Ñ–∏–Ω–∞–Ω—Å–æ–≤–æ–π –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –Ω–µ –º–µ–Ω–µ–µ 5 –ª–µ—Ç.</li> </ul> <strong>–£—Å–ª–æ–≤–∏—è:</strong> <ul> <li> <p><strong>!!!!!–ú–µ—Å—Ç–æ —Ä–∞–±–æ—Ç—ã - –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å, –û–¥–∏–Ω—Ü–æ–≤—Å–∫–∏–π —Ä–∞–π–æ–Ω,<br />—Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—è ¬´–ü–∞—Ä–∫ –ø–∞—Ç—Ä–∏–æ—Ç¬ª!!!!</strong></p> </li> <li> <p><strong>–ì–æ—Ç–æ–≤–Ω–æ—Å—Ç—å –ø—Ä–æ–π—Ç–∏ —Ç–µ—Å—Ç–æ–≤–æ–µ –∑–∞–¥–∞–Ω–∏–µ</strong></p> </li> <li> <p>–û—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ–µ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å –¢—Ä—É–¥–æ–≤—ã–º –∫–æ–¥–µ–∫—Å–æ–º –†–§</p> </li> <li> <p>–°–≤–æ–µ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –≤—ã–ø–ª–∞—Ç–∞ –∑–∞—Ä–∞–±–æ—Ç–Ω–æ–π –ø–ª–∞—Ç—ã 2 —Ä–∞–∑–∞ –≤ –º–µ—Å—è—Ü</p> </li> <li> <p>–ì—Ä–∞—Ñ–∏–∫ —Ä–∞–±–æ—Ç—ã 5/2</p> </li> <li> <p>–°—Ç–æ–ª–æ–≤–∞—è –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏</p> </li> <li> <p>–í–æ–∑–º–æ–∂–Ω–æ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –æ–±—â–µ–∂–∏—Ç–∏—è</p> </li> <li> <p>–ë–µ—Å–ø–ª–∞—Ç–Ω–∞—è —Ñ–æ—Ä–º–µ–Ω–Ω–∞—è –æ–¥–µ–∂–¥–∞</p> </li> <li> <p>–ö–æ—Ä–ø–æ—Ä–∞—Ç–∏–≤–Ω—ã–π —Ç—Ä–∞–Ω—Å–ø–æ—Ä—Ç –æ—Ç —Å—Ç–∞–Ω—Ü–∏–∏ –ì–æ–ª–∏—Ü—ã–Ω–æ</p> </li> </ul>',
 'branded_description': None,
 'vacancy_constructor_template': None,
 'key_skills': [{'name': '–†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞–Ω–¥–µ'},
  {'name': '1C: –§–∏–Ω–∞–Ω—Å—ã'},
  {'name': '–ê–Ω–∞–ª–∏–∑ —Ç–µ–∫—É—â–∏—Ö —Ñ–∏–Ω–∞–Ω—Å–æ–≤—ã—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π'},
  {'name': '–í—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'},
  {'name': '–†–∞–±–æ—Ç–∞ –≤ —É—Å–ª–æ–≤–∏—è—Ö –º–Ω–æ–≥–æ–∑–∞–¥–∞—á–Ω–æ—Å—Ç–∏'}],
 'accept_handicapped': False,
 'accept_kids': False,
 'archived': True,
 'response_url': None,
 'specializations': [],
 'professional_roles': [{'id': '137', 'name': '–§–∏–Ω–∞–Ω—Å–æ–≤—ã–π –º–µ–Ω–µ–¥–∂–µ—Ä'}],
 'code': None,
 'hidden': False,
 'quick_responses_allowed': False,
 'driver_license_types': [],
 'accept_incomplete_resumes': False,
 'employer': {'id': '4688557',
  'name': '–ê–ù–û –£—á–µ–±–Ω–æ-–ú–µ—Ç–æ–¥–∏—á–µ—Å–∫–∏–π –¶–µ–Ω—Ç—Ä –í–æ–µ–Ω–Ω–æ-–ü–∞—Ç—Ä–∏–æ—Ç–∏—á–µ—Å–∫–æ–≥–æ –í–æ—Å–ø–∏—Ç–∞–Ω–∏—è –ú–æ–ª–æ–¥–µ–∂–∏ –ê–≤–∞–Ω–≥–∞—Ä–¥',
  'url': 'https://api.hh.ru/employers/4688557',
  'alternate_url': 'https://hh.ru/employer/4688557',
  'logo_urls': None,
  'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=4688557',
  'accredited_it_employer': False,
  'trusted': True},
 'published_at': '2023-01-23T11:27:29+0300',
 'created_at': '2023-01-23T11:27:29+0300',
 'initial_created_at': '2023-01-23T11:27:29+0300',
 'negotiations_url': None,
 'suitable_resumes_url': None,
 'apply_alternate_url': 'https://hh.ru/applicant/vacancy_response?vacancyId=76085328',
 'has_test': False,
 'test': None,
 'alternate_url': 'https://hh.ru/vacancy/76085328',
 'working_days': [],
 'working_time_intervals': [],
 'working_time_modes': [],
 'accept_temporary': False,
 'languages': []}